@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap");
body {
  background: black;
}
/*? ==== Layout ==== */
.sidebar {
  border: 1px solid black;
  width: 10%;
  float: left;
  background: black;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
}

.page {
  width: 89%;
  display: flex;
  float: right;
  font-family: "Montserrat Alternates", sans-serif;
}
/*? ================= */

/*? ==== Nav ==== */
.nav-div-open {
  background-color: black;
}

.nav-div-close {
  background: #ebebeb;
}

.nav-container {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.nav-container a {
  color: black;
  text-decoration: none;
}

.nav-container a:hover {
  cursor: pointer;
  color: aqua;
}

.menu-icon {
  font-size: 30px;
}

.menu-icon-open:hover {
  cursor: pointer;
  color: #2ff53f;
}

.menu-icon-close:hover {
  cursor: pointer;
  color: #ff2e17;
}
/*? ============= */

/*? ==== Greeting Section ==== */
.greeting-div {
  text-align: center;
  margin: 0 auto;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
}

.greeting-div h1:hover {
  color: #fa46d6;
  cursor: pointer;
}
/*? ========================== */
